form.navbar-form(role="search")
    .input-group
        input.form-control(placeholder="Search",name="q")
        .input-group-btn
            button.btn.btn-default(type="submit")
                i.glyphicon.glyphicon-search