nav.molgenis-docs-sidebar(id="molgenis-docs-sidebar").hidden-print.hidden-xs.hidden-sm
        ul.nav.molgenis-docs-sidenav(id="molgenis-docs-sidenav")

//- on document load: generate the sidenav for h1 and h2
script.
    $(function() {
        var sideNav = $("#molgenis-docs-sidenav");
        var index = 0;
        $(".row h1").each(function() {
            
            //create id for h1
            var id = (index++) + $(this).text().replace(/\s/gi,"-").toLowerCase();
            $(this).prepend("<a name=\""+id+"\"></a>");
            
            //add h1 to list
            var li = $("<li><a href=\"#"+id+"\">"+$(this).text()+"</a></li>")
            sideNav.append(li);
            
            //wrap h1 into section
            var section = $(this).wrap("<section id=\""+id+"\"></section>").parent();
            
            //wrap parts of h1 into one section
            $(this).parent().nextUntil("h1").each(function(){            
                section.append($(this));
            });
            
            //repeat for h2
            if($("h2",$(this).parent()).length > 0) {
                var ul = $("<ul class=\"nav\"></ul>");
                li.append(ul);
                
                $("h2",$(this).parent()).each(function(){
                
                    //create id for h2
                    var id = (index++) + $(this).text().replace(/\s/gi,"-").toLowerCase();
                    $(this).prepend("<a name=\""+id+"\"></a>");
            
                    //wrap h2 into section
                    var section = $(this).wrap("<section id=\""+id+"\"></section>").parent();
            
                    ul.append($("<li><a href=\"#"+id+"\">"+$(this).text()+"</a></li>"));
            
                    //wrap parts of h2 into one section
                    $(this).parent().nextUntil("h2").each(function(){            
                        section.append($(this));
                    });
                

                });
            }
        });    
        
        //add "back to top"
        sideNav.append("<li><a href=\"#top\" style=\"font-size:smaller\">Back to top</a></li>");
        var $body   = $(document.body);
        
        //enable the 'active' highlighting using scrollspy plugin
        $('body').scrollspy({
            target: '#molgenis-docs-sidebar'
        });
        $('#molgenis-docs-sidebar').width($('#molgenis-docs-sidebar').parent().width());
        
        //enable affix
        $('#molgenis-docs-sidebar').affix({
            offset: {
                top: $('#molgenis-docs-sidebar').offset().top,
                bottom: $('.molgenis-docs-footer').outerHeight(true) + 10
            }
        });
        
        //resize affix box when window resizes
        $(window).resize(function () {
                $('.molgenis-docs-sidebar').width($('#molgenis-docs-sidebar').parent().width());
            });
        
        $("table").addClass("table table-bordered");
    });