H1 GCC - UMCG
p Primary MOLGENIS support is currently coordinated by the <a href="http://wiki.gcc.rug.nl">Genomics Coordination Center</a> (GCC) hosted at the <a href="http://geneticsgroningen.nl/">Dept of Genetics of University Medical Center Groningen</a>. GCC provides hosting of MOLGENIS services, project based development and routine analysis.

p Contact: Dr. Morris Swertz<br/>Dept. of Genetics, CB50<br/>University Medical Center Groningen<br/>P.O. Box 30001<br/>9700 RB  GRONINGEN<br/>The Netherlands

p email: m.a.swertz@rug.nl

h1 BBMRI & TraIT

p Also biobank research infrastructure BBMRI-NL and translational research infrastructure CTMM-TraIT provide hosting support for MOLGENIS.

p More information at http://bbmri.nl and http://www.ctmm-trait.nl/

h1 Partners

p MOLGENIS is used and financially supported by:

div
    != partial("../partners")

h1 Acknowledgements
p MOLGENIS open source software development is supported by
div
    != partial("../acknowledgements")
