<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<body class="{{page.layout}}-layout">
<a href="#main-content" class="skip-link">Skip to main content</a>
<article>
    <header>
        <div class="header-text">
            {% if page.image %}
            <div class="wallpaper" style="background-image: url({{page.image}})"></div>
            {% endif %}

            <div class="content">
                {% include nav.html %}
                <h1>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
                <p>
                    {{ page.intro }}
                    {% if page.date %}
                    <br/><i>(Posted {{ page.date | date: '%A, %B %d, %Y'}})</i>
                    {% endif %}
                </p>
            </div>
        </div>
    </header>
  <main id="main-content">
    {{ content }}
  </main>
</article>

{% include footer.html %}
</body>
</html>
