<footer style="width: 100%">
  <ul>
    <li><h2>MOLGENIS</h2></li>
    <li><a href="/get.html">Get</a></li>
    <li><a href="/features.html">Features</a></li>
    <li><a href="/communities.html">Communities</a></li>
    <li><a href="/learn.html">Learn</a></li>
    <li><a href="/team.html">Team</a></li>
  </ul>

  <ul>
    <li><h2>Legal</h2></li>
    <li>
      MOLGENIS is free to use under
      <a href="/LICENSE-LGPLv3.html">LGPLv3 License</a>. MOLGENIS adheres to the
      following <a href="/MOLGENIS_Privacy_Policy.pdf">Privacy Policy</a>.
      Please cite
      <a href="https://www.ncbi.nlm.nih.gov/pubmed/30165396"
        >Van der Velde et al (2018)</a
      >,
      <a href="http://www.ncbi.nlm.nih.gov/pubmed/21210979"
        >Swertz et al (2010)</a
      >
      or
      <a href="http://www.ncbi.nlm.nih.gov/pubmed/17297480"
        >Swertz &amp; Jansen (2007)</a
      >
      on use.
    </li>
  </ul>

  <ul>
    <li><h2>Contact</h2></li>
    <li>
      <a href="mailto:support@molgenis.org">support@molgenis.org</a>
    </li>
    <li>
      <div style="text-align: center;">
        <a href="/"
          ><img id="footer_logo" src="/assets/img/logo_green_green.png"
        /></a>
      </div>
    </li>
  </ul>
</footer>
