<a href="/"><img id="logo" src="/assets/img/logo_{{page.layout}}.png" alt="MOLGENIS home"></a>
<nav aria-label="Main navigation">
  <input type="checkbox" id="menu"><label for="menu" aria-label="Toggle menu">&#9776;</label>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/tools.html">Tools</a></li>
    <li><a href="/communities.html">Communities</a></li>
    <li><a href="/partners.html">Partners</a></li>
    <li><a href="/news.html">News</a></li>
    <li><a href="/support.html">Support</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="https://linkedin.com/company/molgenis" target="_blank" rel="noopener" aria-label="MOLGENIS on LinkedIn"><img class="icon" src="/images/in.png" alt="LinkedIn"></a></li>
    <li><a href="https://github.com/molgenis" target="_blank" rel="noopener" aria-label="MOLGENIS on GitHub"><img class="icon" src="/images/github.svg" alt="GitHub"></a></li>
  </ul>
</nav>
