h1 404 page not found
    
p(style="text-align: center") 
    b Page not found. Please report a bug by email to      
        a(href="mailto:m.a.swertz@rug.nl") m.a.swertz@rug.nl


h1 Or choose from the sitemap:

!= partial("_layout/sitemap")