//to generate doc download .html and then run pandoc
//pandoc -f html -t docx -o output.docx docs.html
p For an interactive version of this guide visit 
    a(href="http://molgenis.github.io") http://molgenis.github.io
h1 Getting started
!= partial("start.md").replace(/h2/g,"h3").replace(/h1/g,"h2")
h1 User interface modules
p MOLGENIS comes with a rich set of user interface modules that researchers can use out of the box, which are described below. In addition users can create their own modules, either online (e.g. R scripts) using the scripting interfaces (see section 'Scripting interface modules') or by programming modules on the server-side (see section 'Programming your own modules').
h2 Data Upload
!= partial("documentation/guide-upload").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 Data Explorer
!= partial("documentation/guide-explore").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 Administration
!= partial("documentation/guide-admin").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 Customization
!= partial("documentation/guide-customize").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 Script
!= partial("documentation/guide-scripts").replace(/h2/g,"h4").replace(/h1/g,"h3")
h1 Scripting interface modules
p MOLGENIS comes with a rich set of programmatic interface modules that enable researchers who know how to script/program to interact with their data at a large scale, e.g., creating interactive visualizations or filters. The scripts can be made available to other researchers via the 'Scripts' user interface module, see above.
h2 How to use REST API
!= partial("documentation/guide-rest").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 How to use R-Project API
!= partial("documentation/guide-R").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 How to use Python API
!= partial("documentation/guide-python").replace(/h2/g,"h4").replace(/h1/g,"h3")
h1 Programming new modules
p While MOLGENIS provides rich scripting capabilities more advanced programmers may want to create server-side modules, e.g. to accomodate new upload file formats, new data backends, new annotators, and/or completely new user interface frontend modules. This section provides some information to get to know the MOLGENIS source code.
h2 Architecture overview
!= partial("develop/architecture").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 Technologies re-used in MOLGENIS
!= partial("develop/technologies").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 Getting started
!= partial("develop/start").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 Adding frontend modules
!= partial("develop/frontend").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 Adding data backendend modules
!= partial("develop/backend").replace(/h2/g,"h4").replace(/h1/g,"h3")
h1 Appendix: Reference
p This section provides reference documentation for the EMX exchange format, the REST interfaces and the R-project API.
h2 EMX format
!= partial("documentation/ref-emx").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 REST api v1
!= partial("documentation/ref-rest").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 REST api v2
!= partial("documentation/ref-rest2").replace(/h2/g,"h4").replace(/h1/g,"h3")
h2 R-project api
!= partial("documentation/ref-R").replace(/h2/g,"h4").replace(/h1/g,"h3")


