p(style="text-align: center;)
  a(href="http://wiki.gcc.rug.nl",role="button")
                            N.B. The Genomics Coordination Center website has been moved to http://wiki.gcc.rug.nl. Please update your hyperlinks.
.molgenis-landing(style="height:150vh; width: 100%")
    .jumbotron(style="text-align: center; background: #0079c2; color: white; height: 50vh")
        table(style="width: 100%")
            tr
                td(style="vertical-align: middle")
                    div.container
                    h1 Flexible software for scientific data
                    h2 Process, manage, query, annotate, integrate, analyse, share
                    a.btn.btn-default.btn-lg(href="start",role="button") Getting started
        
    .container(style="text-align: center; height: 25vh;")
        p.lead MOLGENIS is open source. It's hosted, developed, and maintained on GitHub.
        a.btn.btn-outline.btn-lg(href="https://github.com/molgenis/molgenis",target="_blank") View the GitHub project
    .jumbotron
        .container(style="text-align: center; height: 100vh;")
            p.lead Partners & Sponsors:
            != partial("partners")
