-var partners = {"bbmri-nl-bw.png":"http://bbmri.nl", "bbmri-eric-bw.png":"http://bbmri-eric.eu", "umcg-bw.png":"http://geneticsgroningen.nl", "rd-connect-bw.png":"http://rd-connect.eu", "lifelines-bw.png":"http://lifelines.net", "trait-bw.png":"http://ctmm-trait.nl", "bioshare-bw.png":"http://bioshare.eu", "biomedbridges-bw.png":"http://biomedbridges.eu","panacea-bw.png":"http://www.wageningenur.nl/en/Expertise-Services/Chair-groups/Plant-Sciences/Laboratory-of-Nematology/Projects/PANACEA.htm", "tifn-bw.png":"http://www.tifn.nl", "rug-bw.png":"http://www.rug.nl/gbic", "energysense-bw.png":"http://www.energyacademy.org/research/energysense", "ercet-bw.png":"http://www.ercet.eu/", "dtl-bw.png":"http://dtls.nl", "nfu-bw.png":"http://www.nfu.nl/publicaties/data4lifesciences","e-rare-bw.png":"http://www.erare.eu/financed-projects/insaid"}
    
each href,img in partners
    a(href="#{href}", target="_blank")
        img.partner(src="/res/images/#{img}", alt="#{href}" style=" max-height: 100px; max-width: 200px; padding: 20px;")
