.molgenis-docs-header
    .molgenis-docs-titlebar.active
            .container 
                h1 Search results


.molgenis-docs-body
    .wrapper
        .row
            .col-md-3(role="complementary")
                blaat
            .col-md-9.contents(role="main")
                gcse:searchresults-only#search-results  

script.
    (function() {
        var cx = '013249655573543917810:_ill0nojcis';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();