p MOLGENIS is an open-source software under <a href="/LICENSE-LGPLv3">LGPLv3 License</a> which is currently coordinated by the <a href="http://wiki.gcc.rug.nl">Genomics Coordination Center</a> hosted at the <a href="http://geneticsgroningen.nl/">Dept of Genetics of University Medical Center Groningen</a>. It exists since 2002 but has been completely rewritten several times to keep up with the rapid changes in the scientific world. 

h1 Contact

p Dr. Morris Swertz<br/>Dept. of Genetics, CB50<br/>University Medical Center Groningen<br/>P.O. Box 30001<br/>9700 RB  GRONINGEN<br/>The Netherlands

p email: m.a.swertz@rug.nl

h1 Partners
p MOLGENIS has been possible by many partners
div
    != partial("../partners")

h1 Acknowledgements
p MOLGENIS open source software development is supported by
div
    != partial("../acknowledgements")
