if(current.source == 'index')
    if(current.path.length > 1 && public._data[current.path[0]] != null)
        .titlebar.active
            .container 
                h1 #{public._data[current.path[0]].title}
                p #{public._data[current.path[0]].description}
else if(current.source == '404')
    .titlebar.active
        .container 
            h1 404 Page not found
            p Please contact the admin.
else
    .titlebar.active
        .container 
            h1 #{title}
            p #{description}
